# Mac
**.DS_Store

# Executables
bin/

ejemplo-cambio-configuracion.sh
RESUMEN_CAMBIOS.md
CONFIGURACION_VOLUMENES.md
ejemplo-validacion.sh
INSTRUCCIONES_VALIDACION.md
RESUMEN_VALIDACION.md
CIERRE_GRACEFUL.md
RESUMEN_GRACEFUL_SHUTDOWN.md
test-graceful-shutdown.sh